<input type="text" [(ngModel)]="title">

{{title}}

<app-product ></app-product>



<div *ngIf = "title === 'fabian'">El es fabian</div>
<div *ngIf = "title === 'teresa'">Ella es teresa</div>
<div *ngIf = "title === 'oscar'">El es oscar</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase ="'fabian'">*El es fabian</p>
  <p *ngSwitchCase ="'teresa'">*Ella es teresa</p>
  <p *ngSwitchCase ="'oscar'">*El es oscar</p>
  <p *ngSwitchDefault>*No hay match</p>
</div>

<p>{{nombre}}</p>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf = "items.length === 0">La lista esta vacia</li>
  <li *ngFor = "let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div *ngFor = "let product of products">
  <p>{{ product.id }}</p>
  <p>{{ product.title }}</p>
  <p>{{ product.price }}</p>
  <p>{{ product.description }}</p>
  <img [src]="product.image" alt=""> 
  <!--<app-product [product]>"product"</app-product>-->
</div>